body{                      /*Sets the font and centers it*/
    font-family: Verdana;
    text-align: center;
}
#myButton{                 /*Sets button font-size and border size*/
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}
#myLabel{                 /*Sets rolled number text size*/
    font-size: 3em;
}